
@import url('https://fonts.googleapis.com/css?family=Poppins:400,900s&display=swap')


/**
 * Variables
 */
$white: #FFFFFF
$black: #000000
$bg-color: #010101

$gradient-uno: rgba(245, 245, 245, .015)
$gradient-dos: rgba(0, 0, 0, 0)
$gradient-angel: 135
$gradient-size: 10
$gradient: $gradient-uno, $gradient-uno #{$gradient-size + 'px'}, $gradient-dos #{$gradient-size + 'px'}, $gradient-dos #{$gradient-size * 2 + 'px'}

$line-width: 110
$line-height: 1
$diamond-size: 5
$nav-item-shift: -15
$nav-item-margin: 22
$animation-duration: 350

$decor-border: 20


/**
 * Nav
 */
.nav
  position: relative
  transform: translate3d(75%, 0, 0)
  transition: transform 350ms

  /** Perhaps an image is more appropriate */
  &::before
    content: 'MENU'
    position: absolute
    top: 50%
    left: 0%
    z-index: -1
    transform: translate3d(-110%, -50%, 0)
    transition: transform 350ms, left 350ms
    font-size: 200px
    font-weight: 900
    color: $black

  /** BEGIN Media queries */
  @media screen and (max-width: 1270px)
    transform: translate3d(50%, 0, 0)
    &::before
      transform: translate3d(-100%, -50%, 0)

  @media screen and (max-width: 1000px)
    transform: translate3d(0, 0, 0)
    &::before
      left: 50%
      transform: translate3d(-50%, -50%, 0)
  /** END Media queries */

  &__list
    margin-left: auto
    counter-reset: jsCounter -1

  &__item
    display: flex
    align-items: center
    margin-bottom: #{$nav-item-margin + 'px'}
    transition: transform #{$animation-duration + 'ms'}
    counter-increment: jsCounter

    /** Number */
    &::before
      content: '0'counter(jsCounter)
      margin-right: 5px
      font-size: 10px
      transform: rotate(-90deg)

    /** BEGIN Hover effect */
    &:hover
      transform: translate3d(#{$nav-item-shift + 'px'}, 0, 0)
      .nav__link
        &::before
          transform: scale3d(1, 1, 1)
        &::after
          transform: scale3d(1, 1, 1) rotate(45deg)
    /** END Hover effect */

  &__link
    display: flex
    align-items: center
    font-size: 30px
    white-space: nowrap
    user-select: none

    /** Line */
    &::before
      $off: 4
      content: ''
      width: #{$line-width + $off + 'px'}
      height: #{$line-height + 'px'}
      margin-right: #{-$off + 'px'}
      background: currentColor
      transform: scale3d(0, 1, 1)
      transform-origin: right
      transition: transform #{$animation-duration + 'ms'}

    /** Diamond */
    &::after
      content: ''
      width: #{$diamond-size + 'px'}
      height: #{$diamond-size + 'px'}
      background: currentColor
      transform: scale3d(0, 0, 0) rotate(45deg)
      transition: transform #{$animation-duration + 'ms'}
      order: -1


/**
 * Github link
 */
.github-link
  position: fixed
  right: #{$decor-border * 2 + 'px'}
  bottom: #{$decor-border * 2 + 'px'}
  width: #{$decor-border * 1.5 + 'px'}
  height: #{$decor-border * 1.5 + 'px'}
  opacity: .2
  transition: opacity 350ms
  &:hover
    opacity: 1


/**
 * Reset
 */
a
  color: inherit
  text-decoration: none


/**
 * Body
 */
body
  display: flex
  justify-content: center
  align-items: center
  height: 0
  min-height: 100vh
  background-color: $bg-color
  background-image: repeating-linear-gradient(#{$gradient-angel + deg}, $gradient), repeating-linear-gradient(#{-$gradient-angel + deg}, $gradient)
  color: $white
  font-family: 'Poppins'
  overflow-x: hidden

  /** Decoration border */
  &::after
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: -1
    border: #{$decor-border + 'px'} solid $black
    box-shadow: inset 0 0 #{$decor-border + 'px'} $black
